/* Global Styles */
* {
  box-sizing: border-box;
}

/* Basic tags */

html {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  hyphens:auto
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
}

h1 {
  margin: 0 0 1rem 0;
}

img {
  width: 100%;
  height: auto;
}

header {
  background-color: #FAFAFA;
}

li {
  /* border: 1px solid red; */
  background-color: white;
  margin-bottom: 0.5rem;
  
}

header li a {
  /* border: 1px solid red; */
  display: block;
  padding: 0.5rem 0;
  color: #4A4A4A;
  font-weight: bold;
  text-transform: uppercase;
}

section {
  text-align: center;
}

footer {
  background-color: #FAFAFA;
}


strong {
  padding-left: .5rem;
}

/* Main styles */
.container {
  width: 90%;
  margin: 0 auto;
}
.profile-image{
  width: 80%;
  height: auto;
}

.top-section-header, .section-title, .card {
  text-align: center;
}

.bottem-section-header {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 3rem;
}

.bottem-section-header p{
  padding-bottom: 1rem;
}

.section-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  padding: 2rem 0;
}

.card {
  margin-top: 2rem;
  
}
.card h2 {
  font-size: 1rem;
  margin-bottom: 1.4rem; 
}

footer {
  padding: 30px;
}

footer h2{
  /* border: 2px solid green; */
  float: left;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

footer ul {
  text-align: right;
}
footer h2:after {
  clear: both;
}

footer li {
  /* border: rgb(115, 22, 192) 2px solid; */
  background-color: #FAFAFA;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

nav {
  
  /* border: 1px solid red; */
}





/* Media Query's */